
.mat-raised-button {
  background-color: #0ED28C;
}

.mat-form-field {
  text-align: left;
}

.etiqueta {
  background-color: #dadada;
  color: rgb(32, 32, 32);
}

.etiqueta:hover {
  background-color: #D66464;
  color: white;
}
