
.mat-raised-button {
  background-color: #0ED28C;
}

.mat-form-field {
  text-align: left;
  display: block;
}

.etiqueta {
  background-color: #dadada;
  color: rgb(32, 32, 32);
}

.etiqueta:hover {
  background-color: #D66464;
  color: white;
}

.dos-columnas-una-fila {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dos-columnas-una-fila .espacio-fila{
  padding-left: 2vh;
}


