
.tabla-centrada .mat-elevation-z8{
  text-align:left;
  width: 100%;
}


.button-tag {
  background-color: #c7c7c7;
  border: 1px;
  color: rgb(70, 68, 68);
  padding: 1vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button-val {
  background-color: #c7c7c7;
  border: 1px;
  color: rgb(255, 255, 255);
  padding: 1vh 2vh 1vh 2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 12px;
}


.padding-contenedor-principal {
  padding: 2% 2% 2% 2%;
}

// Barra superior de navegación
.navegacion-up {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 10%;
  background-color:white;
  padding: 3vh 3vh 3vh 3vh; // top, right, bottom, left
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navegacion-up .derecha{
  text-align:right;
  padding-right: 5vh;
}

.mat-raised-button {
  background-color: #0ED28C;
}


.icono-orden {
  font-size: 110%;
}

.icono-orden:hover {
  color: black;
  cursor: pointer;
}


