
<div class="contenedor-up">
  <div class="contenido-logo">
    <img src="assets/images/Union.svg" class="logo-padding" alt="logo">
    <img src="assets/images/Experts.svg" alt="experts">
  </div>
  <div class="contenido-nav-up">
    <!-- nav superior-->
    <app-nav-up></app-nav-up>
  </div>
</div>

<div class="contenedor-middle">
  <div class="contenido-nav-up-left">
    <!-- nav izquierda-->
    <app-nav-left></app-nav-left>
  </div>
  <div class="contenido-components">
    <!-- Aquí irán el resto de componentes -->
    <router-outlet></router-outlet>
  </div>
</div>






