<h2 class="color-verde-texto">Bienvenido/a</h2>
<h4>Regístrese para poder usar la app de Expertos</h4>
<br>

<mat-card>
  <form [formGroup]="registerForm" (submit)="register()">

    Nombre Completo<br>
    <mat-form-field appearance="outline">
      <input matInput formControlName="nombreCompleto" placeholder="Nombre Completo"/>
    </mat-form-field>
    <br>
    Email<br>
    <mat-form-field appearance="outline">
      <input matInput formControlName="email" placeholder="Email"/>
    </mat-form-field>
    <br>
    <span #tooltip="matTooltip"
        matTooltip="La contraseña debe tener una longitud mínima de 8 caracteres y contener al menos una letra y un número"
        matTooltipPosition="right">
        Contraseña<mat-icon>info_outlined</mat-icon>
    </span>
    <br>
    <mat-form-field appearance="outline">
      <input matInput formControlName="password" placeholder="Contraseña">
    </mat-form-field>


    <mat-card-actions>
      <span>
        <a color="warning" [routerLink]="['/login']"> <span class="color-verde-texto">Volver a Login</span> </a>
      </span>
      <button mat-raised-button color="primary" type="submit">
        Registrar
      </button>
    </mat-card-actions>

  </form>
</mat-card>
