
.puntero {
  cursor:pointer;
}

.puntero:hover {
  background-color: #c7c7c7;
  border: 1px;
  color: rgb(70, 68, 68);
  padding: 0.5vh;
  border-radius: 12px;
}


.contenedor-experto {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contenedor-experto .imagen-nombre {
  grid-column: 1/3;
}

.contenedor-experto .fechas {
  grid-column: 3/-1;
}

