<mat-card class="contenedor-experto">

  <!-- BLOQUE nombre, nif, fechas-->
  <span class="imagen-nombre-nif">
    <span class="texto">
      <img src="assets/images/user-img.svg" alt="experto">
    </span>


    <span class="nombre-nif">
      <!-- subloque nombre -->
      <span class="puntero" (click)="showEditNombre()" #tooltip="matTooltip"
        matTooltip="Haz click para editar"
        matTooltipPosition="right">
        <a link>{{experto.nombre}}</a>
      </span>
      <span *ngIf="edit_nombre_show">
        <form [formGroup]="editFormNombre">
          <mat-form-field appearance="outline">
            <input matInput formControlName="nombre" placeholder="Nombre Completo" (keydown.enter)="editNombre()"/>
          </mat-form-field>
        </form>
      </span>
      <br><br>

      <!-- subloque nif -->
      <span class="puntero" (click)="showEditNif()" #tooltip="matTooltip"
            matTooltip="Haz click para editar"
            matTooltipPosition="right">
            NIF:
            <a link>{{experto.nif}}</a>
      </span>
      <span *ngIf="edit_nif_show">
        <form [formGroup]="editFormNif">
          <mat-form-field appearance="outline">
            <input matInput formControlName="nif" placeholder="Nif" (keydown.enter)="editNif()" class="form-control" pattern="[0-9]{8}[a-zA-Z]" minlength=9 maxlength=9/>
          </mat-form-field>
        </form>
      </span>
    </span>
  </span>


  <!-- fechas -->
  <span class="fechas">
    CREADO:
    <br>
    {{experto.created_at | date: 'dd/MM/yyyy, h:mm a'}}
    <br><br>
    ÚLTIMO CAMBIO:
    <br>
    {{experto.updated_at | date: 'dd/MM/yyyy, h:mm a'}}
  </span>


  <!-- BLOQUE Disp., estado, valoración y origen-->
    <mat-form-field class="padding-fila2" appearance="fill">
      <mat-label>DISPONIBILIDAD</mat-label>
      <mat-select>
        <mat-option *ngFor="let d of listaDisponibilidad" [value]="d" (click)="editDisp(d)">
          {{d}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="padding-fila2" appearance="fill">
      <mat-label>ESTADO</mat-label>
      <mat-select>
        <mat-option *ngFor="let e of listaEstados" [value]="e" (click)="editEstado(e)">
          {{e}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="padding-fila2" appearance="fill">
      <mat-label>VALORACIÓN</mat-label>
      <mat-select>
        <mat-option *ngFor="let v of listaValoraciones" [value]="v" (click)="editValoracion(v)">
          {{v}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="padding-fila2" appearance="fill">
      <mat-label>ORIGEN</mat-label>
      <mat-select>
        <mat-option>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="padding-fila3">
      {{experto.disponibilidad}}
    </div>
    <div class="padding-fila3" [style.color] = "getColorEstado(experto.estado)">
      <mat-icon>circle</mat-icon>{{experto.estado}}
    </div>
    <div class="padding-fila3" [style.color] = "getColorValoracion(experto.puntuacion)">
      {{experto.puntuacion}}
    </div>
    <div class="padding-fila3">
      {{experto.origen}}
    </div>


  <!-- BLOQUE teléfono, email, dirección, CV, linkedin -->
  <span class="datos-contacto-experto">
    <div class="padding-contacto clave-cont">
      <span class="puntero" (click)="showEditTel()" #tooltip="matTooltip"
        matTooltip="Haz click para editar"
        matTooltipPosition="right">
        <mat-icon>phone</mat-icon>Teléfono
      </span>
    </div>
    <span class="padding-contacto valor-cont">
      <!-- subloque telefono -->
      <span class="puntero" (click)="showEditTel()" #tooltip="matTooltip"
            matTooltip="Haz click para editar"
            matTooltipPosition="right">
            {{experto.contacto_telefono}}
      </span>
      <span *ngIf="edit_tel_show">
        <form [formGroup]="editFormTel">
          <mat-form-field appearance="outline">
            <input matInput formControlName="contacto_telefono" placeholder="Teléfono" (keydown.enter)="editTel()" class="form-control" pattern="[0-9]+" minlength=9 maxlength=9>
          </mat-form-field>
        </form>
      </span>
    </span>

    <div class="padding-contacto clave-cont">
      <span class="puntero" (click)="showEditEmail()" #tooltip="matTooltip"
        matTooltip="Haz click para editar"
        matTooltipPosition="right">
        <mat-icon>email</mat-icon>Correo
      </span>
    </div>
    <span class="padding-contacto valor-cont">
      <!-- subloque email -->
      <span class="puntero" (click)="showEditEmail()" #tooltip="matTooltip"
            matTooltip="Haz click para editar"
            matTooltipPosition="right">
            <a link>{{experto.contacto_email}}</a>
      </span>
      <div *ngIf="edit_email_show">
        <form [formGroup]="editFormEmail">
          <mat-form-field appearance="outline">
            <input matInput formControlName="contacto_email" placeholder="Email" (keydown.enter)="editEmail()"/>
          </mat-form-field>
        </form>
      </div>
    </span>

    <div class="padding-contacto clave-cont">
      <span class="puntero" (click)="showEditDirec()" #tooltip="matTooltip"
        matTooltip="Haz click para editar"
        matTooltipPosition="right">
        <mat-icon>home</mat-icon>Dirección
      </span>
    </div>
    <span class="padding-contacto valor-cont">
      <!-- subloque dirección -->
      <span class="puntero" (click)="showEditDirec()" #tooltip="matTooltip"
            matTooltip="Haz click para editar"
            matTooltipPosition="right">
            <a link>{{experto.direccion}}</a>
      </span>
      <div *ngIf="edit_direc_show">
        <form [formGroup]="editFormDirec">
          <mat-form-field appearance="outline">
            <input matInput formControlName="direccion" placeholder="Dirección" (keydown.enter)="editDirection()"/>
          </mat-form-field>
        </form>
      </div>
    </span>

    <div class="padding-contacto clave-cont">
      <mat-icon>insert_drive_file</mat-icon>CV
    </div>
    <div class="padding-contacto valor-cont">
      {{experto.fichero_cv}}
    </div>

    <div class="padding-contacto clave-cont">
      <span class="puntero" (click)="showEditLinkedin()" #tooltip="matTooltip"
        matTooltip="Haz click para editar"
        matTooltipPosition="right">
        <mat-icon>insert_link</mat-icon>LinkedIn
      </span>
    </div>
    <span class="padding-contacto valor-cont">
      <!-- subloque linkedin -->
      <span class="puntero" (click)="showEditLinkedin()" #tooltip="matTooltip"
            matTooltip="Haz click para editar"
            matTooltipPosition="right">
            <a link>{{experto.contacto_linkedin}}</a>
      </span>
      <div *ngIf="edit_linkedin_show">
        <form [formGroup]="editFormLinkedin">
          <mat-form-field appearance="outline">
            <input matInput formControlName="contacto_linkedin" placeholder="LinkedIn" (keydown.enter)="editLinkedIn()"/>
          </mat-form-field>
        </form>
      </div>
    </span>
  </span>


    <!-- subloque Etiquetas -->
    <div style="text-align:left; padding: 0.5vh;">
      Etiquetas:
      <mat-form-field appearance="fill">
        <mat-label>Añadir etiqueta</mat-label>
        <mat-select>
          <mat-option *ngFor="let tag of listaTodasLasEtiquetas" [value]="tag" (click)="addEtiqueta(tag.id)">
            {{tag.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngFor="let tag of experto.etiquetas">
        <button mat-button class="etiqueta" (click)="deleteEtiqueta(tag.id)">{{tag.nombre}}<mat-icon>close</mat-icon></button>&nbsp;
      </span>
    </div>

</mat-card>




